*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial;
}
.site-init{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-color: #d03000;
    color: black;
}
.site-init h1{
    font-weight: 300;
}
nav a{
    color: black;
    text-decoration: none;
    margin-right: 2rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
main .login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    height: 15rem;
    width: 20rem:
}
.login-container input{
    width: 15rem;
    padding: 5px
    margin-bottom: 1 rem;
}